^ContentPage {
    background-color: #FFFFFF;
    padding: 15;
}
^Button {
    text-align: center;
    font-size: 10;
    padding: 0;
    color: #333333;
    background-color: #dddddd;
    border-color: #666666;
    border-width: 1;
}
#loginButton {
    text-align: center;
    font-style: bold;
    font-size: 30;
    padding: 0;
    color: #FF0000;
    background-color: #dddddd;
    border-color: #666666;
    border-width: 2;
}
#version {
    text-align: center;
    font-style: bold;
    color: #000000;
}
#version2 {
    text-align: center;
    font-style: bold;
    color: #AAAAAA;
}
#checkmark {
    text-align: center;
    color: #FFFFFF;
}