<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WorkloadConfiguration" type="ServiceWorkloads.WorkloadConfigurationSection, ServiceWorkloads" allowLocation="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>

    <!-- All timespans in milliseconds -->
    <add key="serviceShutdownTimeout" value="500000"/>

    <!-- Logging Setup -->
    <add key="logConfig" value="log4net.config"/>

    <!-- Service Installer Configuration-->
    <add key="ServiceDescription" value="Service Workloads"/>
    <add key="ServiceDisplayName" value="ServiceWorkloads"/>
    <add key="ServiceName" value="ServiceWorkloads"/>

  </appSettings>
  <WorkloadConfiguration>
    <workloads>
      <workload name="ATTServiceWorkloads" assembly="ATTServiceWorkloads" type="ATTServiceWorkloads.ExcelToCSV">
        <Properties>
          <add name="SourceFolder" value="C:\temp\ExcelFiles"/>
          
          <!-- Watchdog timer set to 5 minutes (which is the default if this setting is not used -->
          <add name="WatchdogInterval" value="300000"/>
        </Properties>
      </workload>
    </workloads>
  </WorkloadConfiguration>
</configuration>
